.explore-wrapper {
    width: 100%;
    padding: 40px 60px;

}

.explore-wrapper h2 {
    font-size: 54px;
    margin-bottom: 20px;
    letter-spacing: -3.5px;
}

/* Visible area */
.slider-window {
    width: 100%;
}

/* Moving track */
.slider-track {
    display: flex;
    gap: 20px;
    transition: transform 0.6s ease;
}

/* Card */
.card {
    min-width: 650px;
    height: 350px;
    border-radius: 16px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Bottom-right arrows */
.nav-arrows {
    display: flex;
    gap: 20px;
    margin-top: 25px;
    justify-content: end;
    margin-right: 100px;
}

.nav-arrows button {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: aliceblue;
}