.uiux {
    max-width: 100%;
    text-align: center;
}

.uiux-img {
    width: 1460px;
    padding-top: 70px;
}

.uiux h1 {
    text-align: start;
    font-size: 70px;
    font-weight: bold;
    padding-left: 30px;
}


.scroll-section {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease-out;
}

.scroll-section.show {
    opacity: 1;
    transform: translateY(0);
}