.branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;

}

.brand-link {
    text-decoration: none;
    width: 100%;
    max-width: 95%;


}

.brand-data {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    margin-top: -160px;
    align-items: center;


}

.p_image {
    margin-top: 70px;
    width: 100%;
    height: 523px;
    border-radius: 25px;

}

.b-left {
    color: rgb(255, 255, 255);
}

.b-left h1 {
    font-size: 50px;
    letter-spacing: -1px;
}

.b-left p {
    margin-top: -35px;
    font-size: 18px;
}

.b-right img {
    width: 30px;
    transform: rotate(-90deg);
}