.branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;

}

.back-branding {
    display: flex;
    padding-top: 60px;
    margin-bottom: -20px;
    align-items: center;
    gap: 70px;
    margin-left: 70px;
}

.back-branding img {
    width: 50px;
    vertical-align: middle;
}

.back-branding h1 {
    font-size: 70px;
}

.brand-link {
    text-decoration: none;
    width: 100%;
    max-width: 95%;


}

.brand-data {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    margin-top: -160px;
    align-items: center;


}

.p_image {
    margin-top: 70px;
    width: 100%;
    height: 523px;
    border-radius: 25px;

}

.b-left {
    color: rgb(255, 255, 255);
}

.b-left h1 {
    font-size: 50px;
    letter-spacing: -1px;
}

.b-left p {
    margin-top: -35px;
    font-size: 18px;
}

.b-right img {
    width: 30px;
    transform: rotate(-90deg);
}


.scroll-section {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease-out;
}

.scroll-section.show {
    opacity: 1;
    transform: translateY(0);
}