/* HEADER */
.header-w {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 48px;
    position: relative;
    z-index: 10;
    background: transparent;
}

/* LOGO */
.logo-w {
    display: flex;
    align-items: center;
    gap: clamp(12px, 2vw, 30px);
    text-decoration: none;
    color: #000000;
}

.logo-w img {
    width: clamp(60px, 6vw, 70px);
    height: auto;
}

.logo-w h3 {
    font-family: "Koulen";
    font-weight: 400;
    font-size: 32px;
    white-space: nowrap;
}

/* NAV */
.nav-menu-w ul {
    display: flex;
    list-style: none;
    gap: clamp(16px, 3vw, 30px);
}

.nav-menu-w ul li a {
    position: relative;
    font-family: "Helvetica";
    font-size: clamp(16px, 2vw, 22px);
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    padding: 4px 14px;
    transition: transform 0.3s ease;
}

/* underline */
.nav-menu-w ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transform: translateX(-50%);
    transition: width 0.35s ease;
}

/* hover */
.nav-menu-w ul li a:hover {
    transform: scale(1.06);
}

.nav-menu-w ul li a:hover::after {
    width: 70%;
}

/* TOGGLE BUTTON */
.menu-toggle-w {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle-w img {
    width: 32px;
    margin-right: 0px;
}

/* MOBILE MENU */
.mobile-menu-w {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #2a2a2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: top 0.6s ease;
    z-index: 999;
}

.mobile-menu-w.open {
    top: 0;
}

/* CLOSE BUTTON */
.menu-close-w {
    position: absolute;
    top: 24px;
    right: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-close-w img {
    width: 28px;
}

/* MOBILE MENU LINKS */
.mobile-menu-w ul {
    list-style: none;
    text-align: center;
}

.mobile-menu-w ul li {
    margin: 20px 0;
}

.mobile-menu-w ul li a {
    font-family: "Helvetica";
    font-size: 28px;
    color: #fff;
    text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .nav-menu-w.desktop {
        display: none;
    }

    .menu-toggle-w {
        display: block;
    }

    .header-w {
        padding: 0px 10px;

    }

    .logo-w h3 {
        font-size: 30px;
    }

}